{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1 class="text-center">
                We make your URLs <span style="color: #d9230f; border-bottom: 2px dotted #d9230f">smaller</span>
            </h1>

            <div class="text-center">
                <div class="form-group">
                    <input type="text" placeholder="Your URL" class="form-control" style="margin-top: 30px">
                </div>

                <button class="btn btn-primary">Shorten!</button>
            </div>

        </div>
    </div>
{% endblock %}
