{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Your api key: <code>{{ apiKey }}</code></h1>
            <hr>
            API documentation <a href="#">click here</a>
        </div>
    </div>
{% endblock %}

