{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>History</h1>
            <hr>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>URL</th>
                        <th>Short URL</th>
                        <th>Token</th>
                        <th>Action</th>
                    </tr>
                </thead>
                    <tbody id="data">
                    </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            showAll("#data");
        });
    </script>
{% endblock %}
